<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue"></script>
        <link
            href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="app">
            <div class="flex h-screen">
                <div class="flex flex-col bg-gray-300 w-40">
                    <doc-switcher
                        v-for="doc in sortedDocuments"
                        :key="doc.id"
                        :doc="doc"
                        :is-active="doc.id === active"
                        @delete-document="deleteDocument"
                        @activate-document="active = doc.id"
                    ></doc-switcher>
                    <div
                        class="p-2 hover:bg-blue-400 text-center cursor-pointer"
                        @click="newDocument()"
                    >
                        +
                    </div>
                </div>
                <div class="w-full h-screen">
                    <textarea
                        v-if="active !== null"
                        class="p-4 w-full h-screen resize-none"
                        v-model="activeContent"
                    ></textarea>
                </div>
            </div>
        </div>

        <script>
            const docSwitcher = {
                props: ["doc", "isActive"],
                template: `<div
                        :class="{'bg-gray-500 hover:bg-gray-500': isActive}"
                        class="flex hover:bg-gray-400 cursor-pointer"
                    >
                        <div class="flex-grow p-2" @click="$emit('activate-document', doc.id)">
                            {{doc.name}}
                        </div>
                        <div
                            class="p-2 hover:bg-red-500"
                            @click="$emit('delete-document', doc.id)"
                            v-if="isActive"
                        >
                            x
                        </div>
                    </div>`,
            }
            const app = new Vue({
                el: "#app",
                components: {
                    docSwitcher,
                },
                data: {
                    raw: "<span style='color:red'>hi</span>",
                    documents: [
                        {
                            id: 0,
                            name: "Recipes",
                            content:
                                "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
                        },
                        {
                            id: 1,
                            name: "Ideas",
                            content:
                                "- Eat the rich\n- Eat the moon\n- Eat this document",
                        },
                        {
                            id: 2,
                            name: "Boring name",
                            content: "Boring content *shrug*",
                        },
                    ],
                    active: 0,
                },
                computed: {
                    activeContent: {
                        get() {
                            return this.documents.find(
                                (d) => d.id == this.active,
                            ).content
                        },
                        set(val) {
                            this.documents.find(
                                (d) => d.id == this.active,
                            ).content = val
                        },
                    },
                    sortedDocuments() {
                        return this.documents.sort((d1, d2) => {
                            var name1 = d1.name.toUpperCase()
                            var name2 = d2.name.toUpperCase()
                            if (name1 < name2) {
                                return -1
                            }
                            if (name1 > name2) {
                                return 1
                            }
                            return 0
                        })
                    },
                },
                created() {
                    this.active = this.documents[0].id
                },
                methods: {
                    newDocument() {
                        var name = prompt(
                            "Please enter a name for the new document:",
                        )
                        var newDoc = {id: 42, name: name, content: ""} // FIXME
                        this.active = newDoc.id
                        this.documents.push(newDoc)
                    },
                    deleteDocument(id) {
                        this.active = null
                        this.documents = this.documents.filter(
                            (d) => d.id != id,
                        )
                    },
                },
            })
        </script>
    </body>
</html>
