<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue"></script>
        <link
            href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="app">
            <div class="flex h-screen">
                <div class="flex flex-col bg-gray-300 w-40">
                    <div
                        v-for="doc in sortedDocuments"
                        class="flex justify-between p-2 hover:bg-gray-400 cursor-pointer"
                        :class="{'bg-gray-500 font-bold': active == doc}"
                        @click="active = doc"
                    >
                        <div>
                            {{doc.name}}
                        </div>
                        <div @click.stop="deleteDocument(doc)">
                            x
                        </div>
                    </div>
                    <div
                        class="p-2 hover:bg-gray-400 text-2xl text-center cursor-pointer"
                        @click="newDocument()"
                    >
                        +
                    </div>
                </div>
                <div class="w-full h-screen">
                    <textarea
                        v-if="active"
                        class="p-4 w-full h-screen resize-none"
                        v-model="active.content"
                    ></textarea>
                </div>
            </div>
        </div>

        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    raw: "<span style='color:red'>hi</span>",
                    documents: [
                        {
                            name: "Recipes",
                            content:
                                "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
                        },
                        {
                            name: "Ideas",
                            content:
                                "- Eat the rich\n- Eat the moon\n- Eat this document",
                        },
                        {
                            name: "Boring name",
                            content: "Boring content *shrug*",
                        },
                    ],
                    active: null,
                },
                computed: {
                    sortedDocuments: function () {
                        return this.documents.sort((d1, d2) => {
                            var name1 = d1.name.toUpperCase()
                            var name2 = d2.name.toUpperCase()
                            if (name1 < name2) {
                                return -1
                            }
                            if (name1 > name2) {
                                return 1
                            }
                            return 0
                        })
                    },
                },
                created: function () {
                    this.active = this.documents[0]
                },
                methods: {
                    newDocument: function () {
                        var name = prompt(
                            "Please enter a name for the new document:",
                        )
                        var newDoc = {name: name, content: ""}
                        this.active = newDoc
                        this.documents.push(newDoc)
                    },
                    deleteDocument: function (doc) {
                        this.active = null
                        this.documents = this.documents.filter((d) => d != doc)
                    },
                },
            })
        </script>
    </body>
</html>
